<ion-header class="ion-no-border">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" icon="arrow-back" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="konoha-bg">
  <div class="login-container">
    
    <div class="logo-area">
      <div class="icon-wrapper">
        <ion-icon name="person-add-outline"></ion-icon>
      </div>
      <h1>Únete a Konoha</h1>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      
      <ion-item class="custom-input" lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <div class="input-wrapper">
          <ion-label position="stacked">NOMBRE</ion-label>
          <ion-input type="text" formControlName="username" placeholder="Tu nombre ninja"></ion-input>
        </div>
      </ion-item>

      <ion-item class="custom-input" lines="none">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <div class="input-wrapper">
          <ion-label position="stacked">CONTRASEÑA</ion-label>
          <ion-input type="password" formControlName="password" placeholder="••••••••"></ion-input>
        </div>
      </ion-item>

      <ion-item class="custom-input" lines="none">
        <ion-icon name="shield-outline" slot="start"></ion-icon>
        <div class="input-wrapper">
          <ion-label position="stacked">RANGO</ion-label>
          <ion-select formControlName="rank" interface="popover">
            <ion-select-option value="Genin">Genin</ion-select-option>
            <ion-select-option value="Chunin">Chunin</ion-select-option>
            <ion-select-option value="Jonin">Jonin</ion-select-option>
            <ion-select-option value="Kage">Kage</ion-select-option>
          </ion-select>
        </div>
      </ion-item>

      <ion-button 
        type="submit" 
        expand="block" 
        class="submit-btn" 
        [disabled]="!registerForm.valid || isLoading">
        <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
        <span *ngIf="!isLoading">REGISTRARSE</span>
      </ion-button>

    </form>
  </div>
</ion-content>